.buildpath
.hgignore.swp
.project
.orig
.swp
.claude
.idea/
.settings/
.vscode/
**/.DS_Store
gf
main
*.exe
output/
manifest/output/
temp/
temp.yaml
**/config/config.yaml
**/cookies/**
**/logs/**
**/build/**
.claude
**/uploads/**
**/node_modules/**
**/dist/**
**/temp/**server/data/
**/*.db
